singularity.enabled = true
singularity.autoMounts = true
executor.perJobMemLimit = true

process{
    container = "$HOME/busco_v4.1.2_cv1.sif"
	withName: busco {
    	cpus = 8
	}
}


profiles {

    standard {
        process.executor = 'local'
    }

    farm {
        process.executor = 'lsf'
        executor.perJobMemLimit = true
        process {
        	queue = 'small'
        	memory = '1GB'
        	withName: busco {
                errorStrategy = 'retry'
                maxRetries = 3
                queue = 'normal'
                memory = { 20.GB * task.attempt }

            }
        }
    }

}