singularity.enabled = true
singularity.autoMounts = true
executor.perJobMemLimit = true

process{
    container = "$HOME/busco_v4.1.2_cv1.sif"
	withName: busco {
    	cpus = 8
	}
}


profiles {

    standard {
        process.executor = 'local'
        time = '16h'
        errorStrategy = 'ignore'
    }

    farm {
        process.executor = 'lsf'
        executor.perJobMemLimit = true
        process {
                queue = 'small'
                memory = '1GB'
                withName: busco {
                errorStrategy = { task.attempt == 1 ? 'retry' : 'ignore'}
                maxRetries = 2
                queue = { task.attempt > 1 ? 'long' : 'normal' }
                memory = '5.GB'

            }
        }
    }

}
