executor.perJobMemLimit = true
condaEnv="/nfs/users/nfs_p/pg17/.conda/envs/orthology_env"

profiles {

    farm {
	executor {
		name = 'lsf'
		queueSize = 3000
		pollInterval = '1 min'
                }
	process {
		memory = '5GB'
		queue = 'normal'
		cpus = 1

		withName: 'align_fastas|trim_alignments' {
		errorStrategy = 'ignore'
                conda = "$condaEnv"
                memory = '1GB'

            	}
		
		withName: infer_gene_trees {
                	conda = "$condaEnv"
			errorStrategy = 'ignore'
			cpus = 12
			queue = 'long'
            	}
		
		withName: 'infer_supermatrix_tree|estimate_astral_BLs' {
                conda = "$condaEnv"
				queue = 'basement'
				cpus = 10
            	}
	}
}

}
