singularity.enabled = true
singularity.autoMounts = true

process{

	withName: downAssem {
    	maxForks = 4
	}

    withName: busco {
    	cpus = 8
        maxForks = 20
        container = "$HOME/busco_v5.0.0_cv1.sif"
	}
}


profiles {

    standard {
        process.executor = 'local'
    }

    farm {
        process.executor = 'lsf'
        executor.perJobMemLimit = true
        process {
                queue = 'normal'
                memory = '0.2GB'

                withName: downAssem {
                    queue = 'transfer'
    	            errorStrategy = 'retry'
                    errorStrategy = { task.attempt > 3 ? 'ignore' : 'retry' } 
                    maxRetries = 4
	            }

                withName: busco {
                    errorStrategy = { task.attempt > 1 ? 'ignore' : 'retry' } 
                    maxRetries = 2
                    queue = { task.attempt > 1 ? 'long' : 'normal' }
                    memory = '15.GB'
            }
        }
    }

}
