singularity.enabled = true
singularity.runOptions = "-B /lustre/:/lustre/"
executor.perJobMemLimit = true
btkContainer="/software/team301/images/blobtoolkit_1.3.4.sif"

profiles {

    farm {
        process {
            executor = 'lsf'
            memory = '5GB'
            queue = 'normal'
            cpus = 1
            withLabel: 'btk' {
                container = "$btkContainer"
            }
            withName: 'diamond_search' {
                cpus = 8
                memory = '30GB'
		        queue = 'long'
            }
            withName: 'map_reads' {
                cpus = 12
                memory = '25GB'
                errorStrategy = "ignore"
            }
            withName: 'busco' {
                cpus = 8
                memory = '14GB'
                errorStrategy = "ignore"
            }
            withName: add_hits_and_coverage {
                errorStrategy = "ignore"
            }
        }
    }
}

