executor.perJobMemLimit = true
condaEnv="/lustre/scratch116/tol/projects/tol-nemotodes/sw/miniconda3/envs/btk_env"


process {
    conda = "$condaEnv"
	withName: 'map_reads|diamond_search' {
		cpus = 8
    }
}

profiles {

    farm {
        process {
            executor = 'lsf'
            memory = '5GB'
            queue = 'normal'
            cpus = 1
        }
    }
}
